.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(29, 99, 116, 0.82);
  color: white;
  padding: 10px;
}

.menu {
  margin-top: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.menu a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
  margin-top: 20px; /* Added margin to separate from .menu */
}

.form-group {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.footerIngresoSini {
  background-color: rgba(29, 99, 116, 0.82);
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
