.container {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    background-color: #3498db; /* Light Blue */
    color: white;
    padding: 10px;
    text-align: center;
}

.navigationLinks {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.navigationLinks a {
    color: #3498db; /* Light Blue */
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

.formContainer {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.superInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3498db; /* Light Blue */
    border-radius: 5px;
    box-sizing: border-box;
}

.superButton {
    background-color: #3498db; /* Light Blue */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.superButton:hover {
    background-color: #217dbb; /* Slightly darker shade of Light Blue */
}

.dataTable {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.dataTable th,
.dataTable td {
    border: 1px solid #3498db; /* Light Blue */
    padding: 10px;
    text-align: left;
}

.footer {
    background-color: #3498db; /* Light Blue */
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
