.BodyLiqu {
    background: #8f91aa;
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    height: 10%;
    margin: 5% auto;
    border: 2px solid black;
}

.menu {
    background-color: #8f91aa; 
    text-align: center;
    align-items: center;
    padding: 4%;
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.menu a:hover {
    background-color: #c7cca9; 
    color: black;
}

.inactivo {
    background-color: #c7cca9; 
    color: black;
}

.title1 {
    font-family: 'Courier New', Courier, monospace;
    background: #c7cca9; 
}

.sbutton {
    background-color: #c7cca9; 
    font-family: 'Times New Roman', Times, serif;
}