/* Estilos para el modal */
.modal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  /* Estilos para el título del modal */
  .TituloModal {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  /* Estilos para los elementos del formulario en el modal */
  .DivModal {
    margin-bottom: 15px;
  }
  
  /* Estilos para el label del rol */
  .DivModal label {
    margin-right: 10px;
  }
  
  /* Estilos para los botones en el modal */
  .BbtnModal {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .BbtnModal:hover {
    background-color: #0056b3;
  }
  